html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  /* background-color: dimgray; */
  background-image: url("./assets/paisaje.jpg");
}
img{
  width: 20%;
  height: auto;
}
