html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  background-color: dimgray;
  background-image: url("./assets/logoPro.png");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
img{
  width: 20%;
  height: auto;
}
nav{
  display: flex;
  justify-content: space-evenly;
  background-color: cadetblue;
}
a{
  color: whitesmoke;
  font-size: 2rem;
}